<div class="singleinbox">
<div class="container" >
<div class="stocks-edit-link">
    <h1 class= "edit heading">在庫一覧</h1>
    <ul class= "stock-edit list">
        <li>商品名</li>
        <li>残数</li>
        <li>単価</li>
        <li>賞味期限</li>
        <li>削除</li>
    </ul>
</div>
<div class="form-error list">
    <% @stock.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</div>
<%= form_tag("/stocks/#{@stock.id}/update")do %>
    <div class="stocks-edit-item">
        <ul class="stock-edit list">
            <li><input class= "form-input" type="text" name="name" value="<%= @stock.content %>"></li>
            <li><input class= "form-input" type="number" name="number" value="<%= @stock.stock_number%>"></li>
            <li><input class= "form-input" type="text" name="price" value="<%= @food.price %>"></li>
            <li><input class= "form-input" type="date" name="exp" value="<%= @food.exp%>"></li>
            <li><%=link_to("/stocks/#{@stock.id}/destroy",{method: "post"} ) do%>
            <span class="fa fa-dumpster"></span>
                <% end %>
            </li>
        </ul>
    </div>
    <input class= "btn submit submit-input" type= "submit" value= "保存"> 
<% end %>
</div>
</div>