<html>
<body>
  <div class="singleinbox">
    <div class="stock-index">
      <div class="container">
        <main>
        <div class="stocks-index-link">
          <h1 class= "index heading">在庫一覧</h1>
            <div class="index-menu">
              <h3><%=link_to("新規作成","/stocks/new")%></h3>
              <h3><%=link_to("編集","/stocks/edit_all")%></h3>
              <h3><%=link_to("入荷＆使用","/stocks/add_all")%></h3>
            </div>
                <aside>
                  <dl>
                <dt>新規作成</dt>  
                  <dd>新しく商品を買ったら新規項目を作成しよう</dd>
                <dt>編集</dt>
                  <dd>全体編集ができるよ</dd>
                <dt>入荷＆使用</dt>
                  <dd>在庫数を気にせず在庫数を増、減できます</dd>
                </dl>
                </aside>
                <div class="clear"></div>
            <ul class= "stock-index list">
              <li>商品名</li>
              <li>残数(個)</li>
              <li>単価(円)</li>
              <li>賞味期限</li>
              <li>在庫追加</li>
            </ul>
          </div>
        <% @stocks.each do |stock| %>
          <% if stock.user_id == @current_user.id %>
          <% food = stock.food%>
            <div class="stocks-index-item">
              <ul class="stock-index list">
                <li><%= link_to(stock.content,"/stocks/#{stock.id}") %></li>
                <li><%= link_to(stock.stock_number,"/stocks/#{stock.id}")%></li>
                
                <!--単価、賞味期限の入力があるか-->
                <% if food.price && food.exp %>
                  <li><%= link_to(food.price,"/stocks/#{stock.id}") %></li>
                  <li><%= link_to(food.exp,"/stocks/#{stock.id}")%></li>
                <% elsif food.price %>
                  <li><%= link_to(food.price,"/stocks/#{stock.id}") %></li>
                  <li></li>
                <% elsif food.exp %>
                  <li></li>
                  <li><%= link_to(food.exp,"/stocks/#{stock.id}")%></li>
                <% else %>
                  <li></li>
                  <li></li>  
                <% end %>

                <!--在庫の増減-->
                <li>
                <%= link_to("-","/stocks/#{stock.id}/decrease",{method: :post, class: "decrease"})%>
                <%= link_to("+","/stocks/#{stock.id}/increase",{method: :post, class: "increase" })%>
                </li>
              </ul>
            </div>   
          <% end %>
        <% end %> 
      </main>
    </div><!--container-->
    </div>
  </div><!--singleinbox -->
</body>
</html>