


<body>
    <div class="singleinbox">
      <h1 class= "new-heading">新規作成</h1>
        <div class="stock-new">
          <div class="container">
<!--カテゴリ         <%= form_tag("/stock/change")do%>

            <div class="form-group">
              <div>カテゴリ</div>
                  <%=select_tag("hoge",options_for_select([['---選択してください---', ''], ['食べ物', ' 0'], ['食べ物以外', '1']]))%>
                  <%=submit_tag("変更")%>
            </div> 
              <%end%>
              -->
            <ul class= "stock-new list">
              <li>新規購入</li>
              <li>個数</li>
              <li>単価</li>
              <li>賞味期限</li>
            </ul>
            <div class= "form-body">
            <%= form_tag("/stocks/create")do %>
              <div class="form-error list">
              <%if @stock.errors.full_messages%>
                <% @stock.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>  
              <%end%>           
              </div>
              <% 2.times do%>
              <ul class= "stock-new list">  
                <li><input class= "form-input" placeholder="トマト" type="text" name="item[]" value="<%= @stock.content%>"></li>
                <li><input class= "form-input" placeholder="5" type="number" name="number[]" value="<%= @stock.stock_number%>"></li>
                <li><input class= "form-input" placeholder="500" type="text" name="price[]" value="<%= @food.price%>"></li>
                <li><input class= "form-input" placeholder="500" type="date" name="exp[]" value="<%= @food.exp%>"></li>
              </ul>
              <% end %>
              <input class= "btn submit submit-input" type= "submit" value= "送信"> 
            <%end%>
              <br>
              <br>
              <%= form_tag("/stocks/unit_price") do%>
              <dl>
                <dt>単価計算</dt>
                <dd>値段÷個数=単価</dd>
                <dd>
              <input name="price" placeholder="値段" type="text" value="<%= @price%>">
              <input name="number" placeholder="個数" type="number" value="<%= @number%>">
              <input class= "btn submit submit-input" type="submit" value="計算">
              </dd>
              </dl>
              <h4>単価：<%= @unit_price%>円</h4>
              <% end %>

          </div><!--form-body-->
          </div><!--container-->
        </div> <!--stock-new -->
    </div><!--singleinbox -->
  </body>
