


<body>
    <div class="singleinbox">
        <div class="container">
        <h1 class= "new-heading">新規作成</h1>
            <div class="form">
                <div class= "form-body">
                    <%= form_tag("/users/create")do %>
                        <div class= "form-error">
                            <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <%end%>
                        </div>
                        <p>名前</p> 
                        <input class="login-input" type="text" name="name" value="<%= @user.name%>">
                        <p>メールアドレス</p>
                        <input class="login-input" type="text" name="email" value="<%= @user.email%>">
                        <p>パスワード</p>
                        <input class="login-input" type="text" name="password" value="<%= @user.password%>">
                        <p><input class= "btn submit login-input" type= "submit" value= "登録"></p>
                    <%end%>
                </div> <!--form-body-->
            </div> <!--form -->
        </div> <!--container-->
    </div> <!--singleinbox -->
</body>
